.sound-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0px 0px -50px;
    background: url("img/bigplay.svg") no-repeat scroll 0% 0% transparent;
}